﻿@using Bace.Models
@model IEnumerable<User>
<h2>Register</h2>
<form name="register" action="home/register" method="POST">
    Username<input name="Username" type="text" />
    Email<input name="Email" type="email" />
    Password<input name="Password" type="password" />
    <input type="submit" value="Submit" />
</form>
<div id="body">
    <table>
        <th>
            <td>UserName</td>
            <td>Email</td>
        </th>
        @foreach (User user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
            </tr>
        }

    </table> 
</div>

