﻿<h2>Register</h2>
<form name="register" action="home/register" method="POST">
    Username<input name="Username" type="text"/>
    Email<input name="Email" type="email"/>
    Password<input name="Password" type="password"/>
    <input type="submit" value="Submit"/>
</form>